.top_image {
  width: 100vw;
  height: max-content;
  /* height: 100%; */
}
.image_and_text_container_in_first_offer_container {
  /* width: 30%; */
  margin: 0.8rem 0.8rem 0px 0.8rem;
}
.text_container_for_first_offer_container {
  font-size: 1.2em;
  font-weight: 600;
}
/* @media screen and (max-width: 1000px) {
  .text_container_for_first_offer_container {
    font-size: 1em;
  }
}
@media screen and (min-width: 590px) and (max-width: 768px) {
  .image_and_text_container_in_first_offer_container {
    width: 29%;
  }
  .offer_container_for_first_div {
    font-size: 1em;
  }
}
@media screen and (max-width: 590px) {
  .image_and_text_container_in_first_offer_container {
    width: 28%;
  }
}
@media screen and (max-width: 480px) {
  .image_and_text_container_in_first_offer_container {
    width: 27%;
  }
}
@media screen and (max-width: 480px) {
  .image_and_text_container_in_first_offer_container {
    width: 26%;
    min-width: 150px;
  }
} */
