<div
  class="w-full max-lg:hidden flex justify-center border-t-[0.01px] border-b-[0.01px] button_header_main_container bg-white"
>
  <ul class="flex w-[90%] justify-evenly mt-2 mb-2 list_container">
    <li class="parent_anchor_tag_container">
      <a routerLink="#">Makeup</a>
      <div class="howering_container flex justify-between">
        <div>Makeup</div>
        <div>work underprogress</div>
      </div>
    </li>
    <li class="parent_anchor_tag_container">
      <a routerLink="#">Skin</a>
      <div class="howering_container">
        <div>skin</div>
        <div>Work underprogress</div>
      </div>
    </li>
    <li class="parent_anchor_tag_container">
      <a routerLink="#">Hair</a>
      <div class="howering_container">
        <div>Hair</div>
        <div>Work underprogress</div>
      </div>
    </li>
    <li class="parent_anchor_tag_container">
      <a routerLink="#">Bath & Body</a>
      <div class="howering_container">
        <div>Bath & Body</div>
        <div>Work underprogress</div>
      </div>
    </li>
    <li class="parent_anchor_tag_container">
      <a routerLink="#">Natural</a>
      <div class="howering_container">
        <div>Natural</div>
        <div>Work underprogress</div>
      </div>
    </li>
    <li class="parent_anchor_tag_container">
      <a routerLink="#">Mom & Baby</a>
      <div class="howering_container">
        <div>Mom & Baby</div>
        <div>Work underprogress</div>
      </div>
    </li>
    <li class="parent_anchor_tag_container">
      <a routerLink="#">Health & Wellness</a>
      <div class="howering_container">
        <div>Health</div>
        <div>Work underprogress</div>
      </div>
    </li>
    <li class="parent_anchor_tag_container">
      <a routerLink="#">Men</a>
      <div class="howering_container">
        <div>Men</div>
        <div>Work underprogress</div>
      </div>
    </li>
    <li class="parent_anchor_tag_container">
      <a routerLink="#">Fragnance</a>
      <div class="howering_container flex justify-between">
        <div>Fragnance</div>
        <div>Work underprogress</div>
      </div>
    </li>
  </ul>
</div>
