h1 {
  user-select: none;
  font-size: 2rem; /* Set the font size */
  font-weight: bold; /* Make the text bold */
  color: white; /* Text color */
  text-align: center; /* Optional: center the text */
  /* -webkit-text-stroke-color: blue; */
  -webkit-text-stroke-color: blue;
  text-shadow: 0 0 5px #ff0000, /* Red glow */ 0 0 2px #ff0000; /* Final bright glow */
}
